table {
  border-collapse: collapse; /* Remove default table border spacing */
}

#rowb {
  padding: 15px;
  padding-right: 75px; /* Add padding to cells */
  /* Add borders for visual separation */
  text-align: left;
  font-family: "Times New Roman", Times, serif; /* Align content to the left (optional) */
}

#bord {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
