table {
  border-collapse: collapse; /* Remove default table border spacing */
}

#row {
  padding: 5px;
  padding-right: 25px; /* Add padding to cells */
  /* Add borders for visual separation */
  text-align: left;
  font-family: "Times New Roman", Times, serif; /* Align content to the left (optional) */
}

bord {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
