.word {
  margin-top: 1vw;
  padding-bottom: 15px;
  font-size: xx-larger;
  font-style: normal;
  color: black;
}
.i {
  padding-bottom: 20px;
}
.container1 {
  padding-top: 7vw;
  height: 150vh;
  position: fixed;
  text-align: left;
  margin-left: 1vw;
  z-index: 1;
  background-color: white;
}
table {
  padding: 0 0;
  margin-bottom: 0;
}
.pox {
  background-color: #3d6bf7;
  margin-left: 1vw;
  align-content: center;
  height: 20vh;
  padding: 16px;
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 20px;
}

.docu {
  display: flex;
  align-items: center;
  width: 10vw; /* Adjust width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 20px;

  color: black;
  background-color: white;
}

.image23 {
  height: 20vh;
  width: 14vw;
}

.inline {
  display: inline-block;
}
